/*.search-result-show-table {*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*border: 1px solid #dddddd;*/
/*}*/
/*table .search-result-show-table  {*/
    /*font-family: arial, sans-serif;*/
    /*border-collapse: collapse;*/
    /*!*width: 100%;*!*/
    /*background-color: white;*/
/*}*/
/*!*th .search-result-show-table, td .search-result-show-table, *!*/
/*tbody .search-result-show-table, thead .search-result-show-table {*/
    /*!*border: 1px solid #dddddd;*!*/
    /*!*text-align: center;*!*/
    /*padding: 8px;*/
/*}*/
/*tr:nth-child(even) .search-result-show-table  {*/
    /*background-color: #dddddd;*/
/*}*/
/*.img-table-cell {*/
    /*height: 200px;*/
    /*padding: 1px;*/
/*}*/

table  {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}
th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.img-table-cell {
    height: 200px;
    padding: 1px;
}

.error-text {
    text-align: center;
    margin: 20px;
    font-weight: bold;
    color: red;
}
.find-product-container {
    display: inline-block;
    margin: 20px;
}
.find-product-form {
    display: inline-block;
    margin-left: 20px;
}
.find-product-input {
    width: 500px;
    padding-left: 5px;
}

/*find-product-form*/