<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>images-uploads</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/inner-styles.css">
    <link rel="stylesheet" type="text/css" href="css/product-images-uploads.css">
    <script src="js/jquery-3.3.1.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body style="background-color: #8AB8CC">
<div align="center">
    <p><h3>Hi, this is uploads page. Admin access only. </h3></p>
    <form id="testForm">
<!-- SERVER: ProductImageUploadsController: uploadsTest(),
GET url: 'product-images-uploads/test',
JS: file "product-images-uploads.js" function testIt() -->
        <input type="submit" value="Check test message">
    </form>
    <div id="testMessage"></div>
</div>
<div align="left">
    <a href="index" style="margin-left: 20%; font-size: 150%; font-weight: bold; text-align: center"><em>home</em></a>
</div>
<br>
<div class="upload-container" >
    <div class="single-upload">
        <h3>Upload Single File</h3>
        <!--form action:  JS: file "product-images-uploads.js" function uploadImage(...)-->
        <form id="singleUploadForm" name="singleUploadForm">
<!-- The input tag of "file" type creates "Выберите файл" button. Pushing this button leads to upload selected file
from server file system (actually we've got the link to the selected file).
Then pushing the "submit" button leads to download uploaded file to the database "product_images" table -->
            <input id="singleFileUploadInput" type="file" name="file" class="create-input" required />
<!-- SERVER: ProductImageUploadsController: uploadFile(@RequestParam("file") MultipartFile file),
POST url: window.location.href ("http://localhost:8081/store/product-images-uploads" + "?file=filename.jpeg"),
JS: file "product-images-uploads.js" function uploadImage(submitId, inputId, successTxtId, errorTxtId, uploadFileImgId) -->
            <button type="submit" id="singleFileUploadSubmit" class="create-btn" style="margin-top: 20px">Submit</button>
        </form>
        <div class="upload-response">
<!-- JS: file "product-images-uploads.js" function uploadImage(...):
submit.click(...) {if (!files[0])...} sets html here 'Please select a file' -->
            <div id="singleFileUploadError"></div>
        </div>
<!-- SERVER: ProductImageUploadsController:
downloadFile(@PathVariable(value = "resourceId") Long resourceId, @Autowired HttpServletRequest request),
GET url: 'product-images-uploads/download/{resourceId}',
JS: file "product-images-uploads.js" function uploadImage(...):
ajax success sets html here '<a href="' + fileHref + '" download>' + fileHref + '</a>' (e.g. 'product-images-uploads/download/40' etc) -->
        <div id="singleFileUploadSuccess" align="center"></div>
<!-- JS: file "product-images-uploads.js" function uploadImage(...):
ajax success sets img src="fileHref", kind of src="product-images-uploads/download/40" etc -->
        <img id="uploadFileImg" src="" style="width: 80vh; align-content: center">
    </div>
</div>
<!--JS: file "product-images-uploads.js"  showProductImageById(imgId, containerId = 'find-image-container')-->
<div id="find-image-container" class="find-product-container"></div>
<div id="find-image-form">
    <fieldset>
        <legend>image search</legend>
        <form id="find-image-by-id-form" class="find-product-form">
            <label for="find-image-by-id-input" class="find-product-form" style="width: 150px">find image by id</label>
            <input id="find-image-by-id-input" type="text" placeholder="enter image id" class="find-product-form find-product-input"/>
            <button type="submit" id="image-by-id-submit">Search</button>
        </form>
        <div id="image-id-number-parse-error" class="error-text" style="display: none">Please type number id</div>
        <br>
        <form id="find-image-by-name-form" class="find-product-form">
            <label for="find-image-by-name-input" class="find-product-form" style="width: 150px">find image by name</label>
            <input id="find-image-by-name-input" type="text" placeholder="enter image name" class="find-product-form find-product-input"/>
            <button type="submit" id="image-by-name-submit">Search</button>
        </form>
    </fieldset>
</div>
<br>
<div id="find-product-container" class="find-product-container">
<!--CSS: product-images-uploads.css -->
    <form id="find-product-form" class="find-product-form">
        <fieldset>
            <legend>product search</legend>
            <label for="find-product-input" class="find-product-form">find product by name</label>
            <input id="find-product-input" type="text" placeholder="enter product name" class="find-product-form find-product-input"/>
            <button type="submit">Search</button>
        </fieldset>
    </form>
    <button type="submit" id="">Hide results</button>
</div>


<script src="js/product-images-uploads.js"></script>

</body>
</html>